.header_content{
    display: flex;
    justify-content: space-around;
    background-color: red;
  
    width: 1551px;
    height: 98px;
}
.logo_image{
    width: 32px;
    height: 32px;
}
.logo{
    display:flex;
    justify-content: center;
}
.nav_links{
    display: flex;
    list-style: none;
}