.header_content{
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    align-items: center;
    width: 1551px;
    height: 98px;
    
}
body{
    font-family: 'Inter',sans-serif;
}
.logo_image{
    width: 32px;
    height: 32px;
    margin-top: 17px;
}
.logo{
    display:flex;
    justify-content: center;
}
.logo_text{
    padding-left: 4px;;
}
.nav_links{
    display: flex;
    list-style: none;
    gap: 15px;
    color: #575757;
}
.common_btn{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.common_btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(108, 99, 255, 0.4);
}
.register_button{
    width: 192px;
    height: 56px;
    background-color: #1D4ED8;
    color: #FFFFFF;
    border-radius: 10px;
}
.hero{
    background-image: url('picture/banner.jpg');
    color:#FFFFFF;
    font-family: 'Inter', sans-serif;
   text-align: center;
 width: 1551px;
    height: 786px;
     background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1551px 786px;
}
.hero_sec{
    position: absolute;
    top: 55%;        
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 70%;
    margin-right: 30px;
}
.hero_sec h1{
   margin: 0 100px 15px 0;
    font-weight: bold;
    font-size: 70px;
}
.hero_sec p{
   margin: 0 100px 30px 0;   
    line-height: 1.5;
}
.hero_sec button{
    margin-top: 400px;
    margin-right: 100px;
    width: 282px;
    height: 74px;
    border-radius: 10px;
}
.speaker_section{
    width:1551px;
    height: 1052px;
}
.mainspeaker{
    margin-top: 20px;
}
.speakers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.andre{
    width: 642px;
    height: 324px;
}
.speaker_section h1{
    margin-top: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}
.speakers_sec2{
    margin-top: 20px;
}
.common_speakers{
   border: 1px solid #BBBBBB;
    border-radius: 12px;
        margin-top: 25px;
}
.tech_text{
    color: #2563EB;
}
.text{
    margin-left: 15px;
    font-size: 10px;
}
.full{
margin-left:100px;
}
.intro{
    text-align: center;
    margin-right: 80px;
}
.intro h1{
    font-size: 45px;
    margin-bottom: 0px;
}
.intro p{
    color: #888888;
}
.payment{
    width: 1440px;
    height: 644px
}
.card{ 
   display: flex;
    justify-content: center;
    gap: 30px;
    margin: 80px auto;
    flex-wrap: wrap;
    
    
}
.full_card{
   border: 1px solid #BBBBBB;
   border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,.05);
    width: 370px;
    height: 470px;
}
.get_pro
{
    background-color: #0D1B2A;
}
.card-top{
    margin-left: 25px;
}
.card-top hr{
margin-right: 10px;
}
.get_btn{
    width: 320.66px;
    height: 45px;
    background-color: #FFFFFF;
    border: 1px solid #2563EB;
    border-radius: 8px;
    color: #2563EB;
    margin-left: 28px;
    margin-top: 20px;
}
.get_btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(108, 99, 255, 0.4);
}
.get_btn2{
       width: 320.66px;
    height: 45px;
    background-color: #2563EB;
    border: 1px solid #2563EB;
    border-radius: 8px;
    color: #FFFFFF;
    margin-left: 28px;
    margin-top: 20px;
}
.get_btn2:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(108, 99, 255, 0.4);
}
.get_btn3{
    width: 320.66px;
    height: 45px;
    background-color: #FFFFFF;
    border: 1px solid #0D1B2A;
    border-radius: 8px;
    color:#0D1B2A;
    margin-left: 28px;
    margin-top: 20px;
}
.get_btn3:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(108, 99, 255, 0.4);
}

.get_standard ul li{
    margin-top: 10px;
    color:#888888;
    
}
.get_standard ul li::marker{
    color:#2563EB;

}
.get_standard h3{
    color: #888888;
}
.get_standard p{
    color: #888888;
}
.get_pro ul li{
    margin-top: 10px;
    color:#888888;

}
.get_pro ul li::marker{
    color:#2563EB;

}
.get_pro h3{
    color: #93C5FD;
}
.get_pro h1{
    color: #FFFFFF;
}
.get_pro p{

    color:#888888;
}
.contact ul li{
    margin-top: 10px;
    color:#888888;
}
.contact ul li::marker{
    color:#2563EB;

}
.contact h3{
    color:#888888;
}
.contact p{
    color:#888888;
}
.placeholder{
    margin-top: 40px;
    width: 1551px;
    display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('picture/confg.png');
}
.form h3{
    text-align: center;
    font-size: 40px;
    margin-top:80px;
    color:#0D1B2A;
}
.items{
    align-items: center;
}
.name{
    width:600px;
    height:40px;
    border: 1px solid #888888;
    border-radius: 7px;
    background-color: #FFFFFF;
    color:#9a9a9a;
    align-items: center;
     border-color: #7c7a96;
  box-shadow: 0 0 0 4px rgba(108, 99, 255, 0.15);
}
.email{
    width:800px;
    height:40px;
     border: 1px solid #888888;
     margin-top: 8px;
      border-color: #7c7a96;
  box-shadow: 0 0 0 4px rgba(108, 99, 255, 0.15);
  border-radius: 7px;
   background-color: #FFFFFF;
}
.company{
     width:500px;
    height:40px;
     border: 1px solid #888888;
     margin-top: 8px;
      border-color: #7c7a96;
  box-shadow: 0 0 0 4px rgba(108, 99, 255, 0.15);
  border-radius: 7px;
 background-color: #FFFFFF;
}
.job{
     width:300px;
    height:40px;
     border: 1px solid #888888;
     margin-top: 8px;
      border-color: #7c7a96;
  box-shadow: 0 0 0 4px rgba(108, 99, 255, 0.15);
  border-radius: 7px;
  background-color: #FFFFFF;
}
.type{
    width: 300px;
    height: 40px;
    margin-top: 8px;
     border-color: #7c7a96;
  box-shadow: 0 0 0 4px rgba(108, 99, 255, 0.15);
  border-radius: 7px;
   background-color: #FFFFFF;
}
.textarea{
    margin-top: 8px;
     border-color: #7c7a96;
  box-shadow: 0 0 0 4px rgba(108, 99, 255, 0.15);
  border-radius: 7px;
   background-color: #FFFFFF;
}
.submitbtn{
    margin-left: 240px;
    margin-top: 60px;
     border-color: #7c7a96;
  box-shadow: 0 0 0 4px rgba(108, 99, 255, 0.15);
  border-radius: 7px;
  height: 50px;
  width:350px;
  margin-bottom: 20px;
}




.footer{
    background-color: #0D1B2A;
display: flex;
    width: 1551px;
    height: 125px;     
    justify-content: space-around;
    color:#888888;
}
.footer p{
    margin-top:50px;
    font-size: 13px;
}
.footer_2nd{
    display:flex;
    margin-left: 500px;
}